.bottom{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    margin: 2rem 0rem;
    height: 36rem;
}

.half{
    flex: 1;
}

.leftB{
    background-color: #FEC72E;
    display: flex;
    flex-direction: column;
    margin: 0rem auto;
    text-align: center;
    justify-content: center;
}

.leftB h1,h4{
    font-weight: bold;
}

.rightB{
    background-color: #ffecb9;
}

.rightB .inside{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30rem;
    width: 28rem;
    float: left;
    margin-top: 3rem;
}

.inside-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.inside-head-left img{
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

.inside-head-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.inside-head-right span{
    font-size: small;
}

.inside-text{
    font-weight: bold;
    margin: 1rem;
    padding: 0rem 1rem;
    text-align: left;
}

