.footer{
  display: block;
  margin: auto ;
  padding: 1.5rem;
  background-color: black;
  color: rgb(209, 202, 202);
  font-size: small
}

.footer-top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.footer .footer-top .one .social-icons {
  background-color: white;
  color: aliceblue;
}

.footer-top .two,.three{
  line-height: 3rem;
  text-align: left;
}

.footer-top li:hover{
  cursor: pointer;
  color:#FEC72E ;
}
.footer-top span:hover{
  cursor: pointer;
  color:#FEC72E ;
}

.footer-top .four
{
  line-height: 3rem;
}
.footer-top .four span{
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-top .four span:hover{
  background-color: white;
  color: black;
  border-radius: 1rem;
  transition: 1s all;
  cursor: pointer;

}

.footer-top ul {
  
  list-style-type: none;
}


.footer img{
    width: 13rem;
    height: 4rem;
  }

.footer .footer-top .one .social-icons i{
    background-color: black;
    width: 1rem;
}




.footer-bottom ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  font-size: small;
}


.footer-bottom ul li:hover{
  cursor: pointer;
  color: white;
}

.footer-bottom ul li{
  color: rgb(209, 202, 202);
  margin: 0.4rem;
  padding: 1rem;
}
